h1{
	color:blue;
}
.c1{ 

 text-align:center; 
 color:white;
 background-color:#6B8E6E;
 width:30%; 
 min-width: 65%; 
 font-size:30px;
 text-align:center;
  margin-top: 48px;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Pacifico', cursive;

}
.fg input[type="text"]{
	padding-right:80px;
}  
.fg{
	margin-right:30px;

	min-width: 30%; 


}

.f1{ 
	color:#AD794B;
	background:;
	margin:auto; 
	content:center; 
	margin-right:30%;
	
	
	min-width: 30%;
	width: min-content;
}

button{ 
	background-color:#6B8E6E;
	border:none; 
	color:white;
	font-family: Roboto condensed , sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 5px; 
    outline: none;
    padding:5px;
    text-transform: uppercase;
    width: max-content;
    min-width: 65%;


}

a:hover{
	color:#BE8CE5;

;
	
}
a{
color:#49684C;

}
.c4{
	color:black;

}
.s-content{
	width: 250px;
	height: 40%;
	margin: 10px auto;
	border: 1px solid #e6e6e6;
	padding: 20px 50px;
	background-color: #fff;
}
.s-part{
	text-align:center;
	font-family: 'overpass mono',monospace;
	word-spacing: -3px;
	letter-spacing: -2px;
	font-weight: normal;
}
body{
	margin: 0;
	padding: 0;)
	background: url(pl.jpg) no-repeat
	background-size: cover;

}
